{include file='public/header' /}
    <body>
        <div class="x-body">
            <p>登录次数：{$admin.login_count} </p>
            <p>  上次登录时间： {$admin.last_time}</p>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">信息统计</a></legend>
            </fieldset>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">服务器信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th width="30%">服务器计算机名</th>
                        <td><span id="lbServerName">mypc</span></td>
                    </tr>
                    <tr>
                        <td>服务器IP地址</td>
                        <td>{$hostip}</td>
                    </tr>
                    <tr>
                        <td>服务器域名</td>
                        <td>{$hostname}</td>
                    </tr>
                    <tr>
                        <td>服务器版本 </td>
                        <td>{$apache_name}</td>
                    </tr>
                    <tr>
                        <td>服务器操作系统 </td>
                        <td>{$system}</td>
                    </tr>
                    <tr>
                        <td>服务器当前时间 </td>
                        <td>{$time}</td>
                    </tr>
                    <tr>
                        <td>当前系统用户名 </td>
                        <td>{$username}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>