<div class="layui-side layui-bg-black x-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe607;</i>
                    <cite>新闻管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('News/index')}">
                                <cite>新闻列表</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <!--应用管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe62d;</i>
                    <cite>应用管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('Application/index')}">
                                <cite>应用列表</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <!--公司管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe629;</i>
                    <cite>公司管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('About/index')}">
                                <cite>发展历程</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('About/proud')}">
                                <cite>荣誉资质</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <!--产品管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe642;</i>
                    <cite>产品管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('Product/index')}">
                                <cite>产品列表</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('Property/index')}">
                                <cite>产品属性</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <!--分类管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe630;</i>
                    <cite>分类管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('Category/index')}">
                                <cite>分类列表</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <!--招聘管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe612;</i>
                    <cite>招聘管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('Jobs/index')}">
                                <cite>招聘列表</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <!--轮播管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe634;</i>
                    <cite>轮播管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('banner/index')}">
                                <cite>轮播列表</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <!--栏目管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe630;</i>
                    <cite>栏目管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('column/index')}">
                            <cite>栏目列表</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <!--管理员管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe613;</i>
                    <cite>管理员管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('admin/index')}">
                            <cite>管理员列表</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <!--系统管理-->
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe614;</i>
                    <cite>系统设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('system/index')}">
                            <cite>系统设置</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('system/log')}">
                            <cite>系统日志</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('system/link')}">
                            <cite>友情链接</cite>
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

</div>