{include file='public/header'/}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/static.css" />
<div class="company-profile">
    <div>
        <img src="__STATIC__/picture/banner_company.jpg" alt="">
    </div>
    <div class="two-nav">
        <ul class="clearfix">
             {volist name=":two_column(1)" id='vo'}
            <li>
                <a href="{$vo.column_link}">{$vo.column_name}</a>
            </li>
            {/volist}
        </ul>
        <div>
            <div class="item-second-box">
                <img src="__STATIC__/picture/前台修图1.jpg" alt="">
            </div>
            <div class="company-text">
                <div></div>
                <p>
                    <span style="color: #343434; font-family: 'microsoft yahei'; font-size: 16px; line-height: 30px; text-indent: 32px;">&nbsp;北京纳米维景科技有限公司于2014年3月成立，总部坐落于中关村永丰产业基地，在用友软件园拥有上千平米的研发基地，并在成都设立了芯片研发中心，是一家致力于高速高精度辐射成像的高新技术企业，主要业务包括X射线CMOS探测器、X射线成像软件、静态CT解决方案等。</span>
                </p>
                <figure class="image align-center">
                    <img src="__STATIC__/picture/banner_company32.jpg" alt="" />
                    <figcaption></figcaption>
                </figure>
                <p>
                    <span style="color: #343434; font-family: 'microsoft yahei'; font-size: 16px; line-height: 30px; text-indent: 32px;">&nbsp;纳米维景团队拥有十几年放射影像产品和核心部件研发经验并在业界积累了良好的口碑，公司自成立一直致力于国产X射线探测器及静态CT的自主研发，已经建立了一支四十多人的研发团队，其中博士硕士学历水平的超过一半，覆盖探测器闪烁晶体、PD、ASIC读出芯片、系统电子学、机械及软件算法等多个方面，在X射线探测器领域处于国内领先和国际先进的地位。</span>
                </p>
                <p>
                    <img style="margin-right: auto; margin-left: auto; display: block;" src="__STATIC__/picture/img_154021.jpg" alt="" width="871"
                        height="388" />
                </p>
                <p>
                    <span style="color: #343434; font-family: 'microsoft yahei'; font-size: 16px; line-height: 30px; text-indent: 32px;">目前，纳米维景自主研发的静态CT原理已经验证成功并进入工程样机阶段，开发了CMOS探测器并进入转产阶段，顺利获得新一轮的风险投资。</span>
                </p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
{include file='public/footer' /}