{include file='public/header' /}
    <body>
        <div class="x-body">
            <form class="layui-form" id="form_data">
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>轮播图
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <input type="file" name="file" class="layui-upload-file" id="test">
                        <input type="text" name="id" value="{$bannerEdit.id}" hidden>
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label">缩略图
                    </label>
                    <img id="LAY_demo_upload" width="300" src="__ROOT__/uploads/{$bannerEdit.image}">
                    <input id="image_src" type="text" name="image" value="{$bannerEdit.image}" hidden>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类别</label>
                    <div class="layui-input-inline">
                        <select name="type">
                            <option value="0" {if condition="$bannerEdit.type EQ 0 "} selected="selected" {/if}>首页大图</option>
                            <option value="1" {if condition="$bannerEdit.type EQ 1 "} selected="selected" {/if}>产品大图</option>
                            <option value="2" {if condition="$bannerEdit.type EQ 2 "} selected="selected" {/if}>产品小图</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>链接
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="link" required="" lay-verify="required" value="{$bannerEdit.link}"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button type="button"  class="layui-btn" lay-filter="add" lay-submit="">
                        保存
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}
        </script>
        <script>
            layui.use(['form','layer','upload'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;


            layui.upload({
                    url: '{:url('banner/upload')}'
                    , ext: 'jpg|png|gif'
                    , success: function (msg) { //上传成功后的回调
                        if (msg.src != '') {
                            $('#LAY_demo_upload').attr('src', "__ROOT__/uploads/" + msg.src);
                            $('#image_src').val(msg.src);
                        } else {
                            layer.msg(msg.message, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
            });
              //监听提交
              form.on('submit(add)', function(){
                push("",'{:url('banner/editBanner')}',$('#form_data').serialize());
              });
            });
        </script>
    </body>

</html>