{include file='public/header' /}
    <body>
        <div class="x-body">
            <div class="x-body">
                <form class="layui-form layui-form-pane" id="form_data">
                    <div class="layui-form-item">
                        <label class="layui-form-label">岗位</label>
                        <div class="layui-input-block">
                            <input type="text" name="office" value="{$jobs.office}" required lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                            <input type="text" name="id" value="{$jobs.id}" hidden>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">招聘类型</label>
                        <div class="layui-input-inline">
                            <select name="jobs_type">
                                <option value="0" {if condition="$jobs.jobs_type eq 0"} selected="selected" {/if}>学校招聘</option>
                                <option value="1" {if condition="$jobs.jobs_type eq 1"} selected="selected" {/if}>社会招聘</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="link" class="layui-form-label">
                            <span class="x-red">*</span>工作部门
                        </label>
                        <div class="layui-input-inline">
                            <div class="site-demo-upbar">
                                <input type="text" name="branch" value="{$jobs.branch}" required lay-verify="required" placeholder="请输入部门名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="link" class="layui-form-label">
                            <span class="x-red">*</span>工作地点
                        </label>
                        <div class="layui-input-inline">
                            <div class="site-demo-upbar">
                                <input type="text" name="address" value="{$jobs.address}" required lay-verify="required" placeholder="请输入工作地点" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">岗位描述</label>
                    </div>
                    <script id="editor" type="text/plain" name="description" style="width:100%;height:300px;" required>{$jobs.description}</script>
                    <div class="layui-form-item">
                        <label class="layui-form-label">任职资格</label>
                    </div>
                    <script id="editor2" type="text/plain" name="content" style="width:100%;height:300px;" required>{$jobs.content}</script>
                    <div class="layui-form-item">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" value="{$jobs.name}" placeholder="请输入联系人名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" value="{$jobs.email}" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button type="button" class="layui-btn" lay-filter="add" lay-submit>
                            保存
                        </button>
                    </div>
                </form>
            </div>
        {include file='public/base_js' /}
        <script>
            layui.use(['form','layer','upload'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer
              form.on('submit(add)', function(data){
                push("","{:url('jobs/jobs_edit')}",$('#form_data').serialize())
              });
            });
        </script>
        <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" src="/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
        <script>
            $(function () {
                var ue = UE.getEditor('editor');
                var ue = UE.getEditor('editor2');
            });
        </script>
    </body>

</html>