{include file='public/header' /}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/static.css" />
<div class="company-profile">
    <div><img src="__STATIC__/picture/banner_contact.jpg" alt=""></div>
    <div class="two-nav">
        <div class="contact-us">联系我们</div>
    </div>
    <section class="clearfix contact-box">
        <div class="contact-list clearfix">
            <div class="contact-map fl">
                <div class="clearfix man-box">
                    <a target="_black" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%8C%97%E4%BA%AC%E5%B8%82%E6%B5%B7%E6%B7%80%E5%8C%BA%E5%8C%97%E6%B8%85%E8%B7%AF68%E5%8F%B7%E9%99%A2%20%E7%94%A8%E5%8F%8B%E8%BD%AF%E4%BB%B6%E5%9B%AD%E8%A5%BF%E5%8C%BA%E4%B8%80%E5%8F%B7%E6%A5%BC%E4%B8%80%E5%B1%821-06"><img class="fl" src="__STATIC__/picture/map_contact_bj.jpg" alt=""></a>
                    <a target="_black" href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E6%88%90%E9%83%BD%E5%B8%82%E8%8E%B1%E8%92%99%E9%83%BD%E4%BC%9A3%E6%A0%8B1208"><img class="fl" src="__STATIC__/picture/map_contact_cd.jpg" alt=""></a>
                </div>
                <div class="check-box">
                    <span id="all">北京总部</span>
                    <span id="part">成都分部</span>
                </div>
            </div>
            <div class="fr contact-address">
                <ul>
                    <h3>北京总部</h3>
                    <li><b>总机</b> : +86-10 62452865</li>
                    <li><b>市场</b> : +86-10 62489512</li>
                    <li><b>人事</b> : +86-10 62452865</li>
                    <li><b>行政</b> : office@nanovision.com.cn</li>
                    <li><b>市场</b> : marketing@nanovision.com.cn</li>
                    <li>北京市海淀区北清路68号院用友软件园西区一号楼一层1-06</li>
                </ul>
                <ul>
                    <h3>成都分部</h3>
                    <li><b>总机</b> : +86-28 85094236</li>
                    <!-- <li><b>市场</b> : +86-28 62489512</li>
                    <li><b>人事</b> : +86-28 85094236</span></li> -->
                    <li><b>行政</b> : office@nanovision.com.cn</li>
                    <li><b>市场</b> : marketing@nanovision.com.cn</li>
                    <li>成都市武侯区二环路南四段51号莱蒙都会3栋1208</li>
                </ul>
            </div>
        </div>
    </section>
</div>
{include file='public/footer' /}