{include file='public/header' /}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>产品列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <xblock><button class="layui-btn" onclick="show('添加产品','{:url('product/addProduct')}','','600')"><i class="layui-icon">&#xe608;</i>添加</button><span class="x-right" style="line-height:40px">共有数据：{$count} 条</span></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            产品名称
                        </th>
                        <th>
                          内容
                        </th>
                        <th>
                            产品资料
                        </th>
                        <th>
                            创建时间
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                     {foreach $productList as $v}
                    <tr>
                        <td>
                        {$v.id}
                        </td>
                        <td>
                        {$v.name}
                        </td>
                        <td >
                        {$v.content}
                        </td>
                        <td >
                         {$v.product_link}
                        </td>
                        <td >
                          {$v.create_time}
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="javascript:;" onclick="show('编辑','{:url('product/editProduct',['id'=>$v.id])}','','600')"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="del(this,'{:url('product/delProduct')}','id={$v.id}')"
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                     {/foreach}
                </tbody>
            </table>

            <div id="page"></div>
        </div>
        {include file='public/base_js' /}
        <script>
            layui.use(['laydate','element','layer'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
            });
            </script>
    </body>
</html>