{include file='public/header' /}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/static.css" />
    <div class="company-news">
    <div><img src="__STATIC__/picture/newsall-banner.jpg" alt=""></div>
    <div class="application-list">
        <div class="application-text">
            <h1 class="app_tittle" style="text-align: center;">&nbsp;</h1>
<h1 class="app_tittle" style="text-align: center;">不断满足客户多样化、定制化及创新性的需求</h1>
<p>纳米维景是辐射成像应用产品及解决方案的全球提供商，为医疗放射成像、安检和工业无损检测领域提供服务。我们不断突破成像极限，追求更高的速度和精度，以满足客户的需求。</p>
        </div>
        <div class="application-icon clearfix">
            {foreach $application_list as $v}
            <dl>
                <div>
                    <a href="/application/list/{$v.application_id}">
                        <dt>背景图片</dt>
                    </a>
                </div>
                <dd>{$v.application_id|column}</dd>
            </dl>
            {/foreach}
        </div>
    </div>
</div>
{include file='public/footer' /}
