{include file='public/header' /}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/static.css" />
    <div class="company-news">
    <div class="first-bg"><img src="__STATIC__/picture/{$application.application_id}.jpg" alt=""></div>
    <div class="application-list">
        <div class="application-text">
            <p style="margin: 20px 0px; padding: 0px; font-size: 15px; color: #666666; line-height: 33px; letter-spacing: 0.7px; text-align: justify; text-indent: 2em;">
                {$application.content}
            </p>           
                <div class="product-list-protBox clearfix">
                    {foreach $productList as $v}
                    <dl>
                        <dt><img src="/uploads/{$v.image}" alt=""></dt>
                        <dd>{$v.name}</dd>
                        <div>
                            <h4><span>产品</span></h4>
                            <p><a href="/product/{$v.id}">{$v.content}</a></p>
                            <a href="/product/{$v.id}">查看详情</a>
                        </div>
                    </dl>
                    {/foreach}
                </div>
        </div>
    </div>
</div>
{include file='public/footer' /}