<!-- address -->
<footer>
    <div class="address-foot clearfix">
        <ul class="fl address-foot-all">
            <h3>关于我们</h3>
            <li>
                <a href="http://www.nanovision.com.cn/about">公司介绍</a>
            </li>
            <li>
                <a href="http://www.nanovision.com.cn/about/develop">发展历程</a>
            </li>
            <li>
                <a href="http://www.nanovision.com.cn/about/vision">公司愿景</a>
            </li>
            <li>
                <a href="http://www.nanovision.com.cn/about/mission">公司使命</a>
            </li>
            <li>
                <a href="http://www.nanovision.com.cn/about/proud">公司荣誉</a>
            </li>
            <li>
                <a href="http://www.nanovision.com.cn/about/culture">价值观</a>
            </li>
        </ul>
        <ul class="fl address-foot-all">
            <h3>新闻</h3>
            <li>
                <a href="http://www.nanovision.com.cn/news">公司动态</a>
            </li>
            <li>
                <a href="http://www.nanovision.com.cn/news/industry">新品发布</a>
            </li>
            <li>
                <a href="http://www.nanovision.com.cn/news/activity">市场活动</a>
            </li>
        </ul>
        <ul class="fl address-foot-all">
            <h3>产品</h3>
            <li>
                <a href="#">静态CT</a>
            </li>
            <li>
                <a href="#">探测器</a>
            </li>
            <li>
                <a href="#">辐射成像软件</a>
            </li>
        </ul>

        <ul class="fl address-foot-other">
            <h3>联系我们</h3>
            <li class="phone">
                <a href="#2">+86-10 62452865</a>
            </li>
            <li class="email">
                <a href="#2">office@nanovision.com.cn</a>
            </li>
            <li class="address">
                <a href="#2">北京市海淀区北清路68号院</a>
            </li>
            <li class="address2">
                <a href="#2">用友软件园西区一号楼一层1-06</a>
            </li>
        </ul>
        <ul class="fr address-foot-all">
            <li>
                <img src="__STATIC__/picture/erweima.png" alt="">
            </li>
            <li>纳米维景官方二维码</li>
            <li>扫
                <span>‘我’</span>获取更多资料</li>
        </ul>
    </div>
</footer>
<div class="company">北京纳米维景科技有限公司 {$system.number}</div>
<script>
    function enterIn(evt) {
        var evt = evt ? evt : (window.event ? window.event : null);//兼容IE和FF
        if (evt.keyCode == 13) {
            var obj;
            queryDistrict(obj, 2);
        }
    }
    function butOnClick() {
        document.getElementById('search').submit();
    }
</script>
<script src="__STATIC__/js/static.js"></script>
</body>

</html>