{include file='public/header' /}

<body>
    <div class="x-body">
        <form class="layui-form" method="post" id='form_data' enctype="multipart/form-data">
            <div class="layui-form-item">
                <label for="link" class="layui-form-label">
                    <span class="x-red">*</span>证书图片
                </label>
                <div class="layui-input-inline">
                    <div class="site-demo-upbar">
                        <input type="file" name="file" class="layui-upload-file" id="test">
                        <input type="text" id="id" name="id" hidden>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">缩略图
                </label>
                <img id="LAY_demo_upload" width="300" src="__ROOT__/uploads/{$proud.image}">
                <input id="image_src" type="text" name="image" value="" hidden>
            </div>
            <div class="layui-form-item">
                <label for="desc" class="layui-form-label">
                    <span class="x-red">*</span>标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="title" value="{$proud.title}" name="title" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button type='button' class="layui-btn" lay-filter="add" lay-submit="">
                    增加
                </button>
            </div>
        </form>
    </div>
    {include file='public/base_js' /}
    <script>
        layui.use(['form', 'layer', 'upload'], function () {
            $ = layui.jquery;
            var form = layui.form()
                , layer = layui.layer;

            //图片上传接口
            layui.upload({
                url: '{:url('banner/upload')}'
                , ext: 'jpg|png|gif'
                , success: function (msg) { //上传成功后的回调
                    if (msg.src != '') {
                        $('#LAY_demo_upload').attr('src', "__ROOT__/uploads/" + msg.src);
                        $('#image_src').val(msg.src);
                    } else {
                        layer.msg(msg.message, {
                            icon: 2,
                            time: 1000
                        });
                    }
                }
            });
            //监听提交
            form.on('submit(add)', function (data) {
                push("", '{:url('about / saveProud')}', $('#form_data').serialize());
            });
        });
    </script>
</body>

</html>